.page {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  color: #fff;
  min-width: 320px;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .15s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100px);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
  transform: translateX(0);
}

.header {
  box-sizing: border-box;
  background-image: url("header-bg.8ec50a9a.png");
  background-position: 100%;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

@media (width >= 744px) {
  .header {
    background-position: 50%;
  }
}

.header__title {
  text-align: center;
  letter-spacing: -1.5px;
  color: #fff;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 744px) {
  .header__title {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (width >= 1260px) {
  .header__title {
    font-size: 80px;
    line-height: 80px;
  }
}

.header__bottom {
  padding-bottom: 88px;
  padding-inline: 20px;
}

@media (width >= 744px) {
  .header__bottom {
    padding-inline: 72px;
  }
}

@media (width >= 1260px) {
  .header__bottom {
    padding-inline: 120px;
  }
}

@media (width >= 744px) {
  .header__bottom {
    padding-bottom: 130px;
  }
}

@media (width >= 1260px) {
  .header__bottom {
    padding-bottom: 203px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  padding-inline: 20px;
  display: flex;
}

@media (width >= 744px) {
  .top-bar {
    padding-inline: 72px;
  }
}

@media (width >= 1260px) {
  .top-bar {
    padding-inline: 120px;
  }
}

@media (width >= 744px) {
  .top-bar {
    padding-block: 36px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.top-bar__phone-number {
  font-size: 0;
}

@media (width >= 744px) {
  .top-bar__phone-number {
    letter-spacing: 2px;
    opacity: 0;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    transition: opacity .3s;
  }
}

.top-bar__phone-container {
  align-items: center;
  display: flex;
}

.top-bar__phone-container:hover .top-bar__phone-number {
  opacity: 1;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 38px;
}

@media (width >= 744px) {
  .top-bar__logo {
    height: 56px;
  }
}

.menu {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #c2c2c2;
  height: 100vh;
  font-weight: 600;
}

.menu__top {
  margin-bottom: 24px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

@media (width >= 744px) {
  .menu__content {
    padding-inline: 72px;
  }
}

@media (width >= 1260px) {
  .menu__content {
    padding-inline: 120px;
  }
}

.menu__phone-number {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu__book-ride {
  color: #1d1d1d;
  letter-spacing: 2px;
  border-bottom: 1px solid #1d1d1d;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 16px;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  color: #1d1d1d;
  letter-spacing: 2px;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #1d1d1d;
  width: 100%;
  height: .5px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.icon {
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

@media (width >= 744px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  cursor: pointer;
  background-image: url("icon-phone.eb015bef.png");
}

.icon--phone:hover {
  transform: scale(1.2);
}

.icon--menu {
  background-image: url("icon-burger-menu.5fb9f497.png");
}

.icon--menu:hover {
  background-image: url("icon-burger-menu-hover.98690666.png");
  transition: all .3s;
}

.icon--close {
  background-image: url("icon-close.e6b70741.png");
}

.section-title {
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

@media (width >= 744px) {
  .section-title {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (width >= 1260px) {
  .section-title {
    font-size: 64px;
    line-height: 64px;
  }
}

.main {
  padding-inline: 20px;
  background-color: #1d1d1d;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
  display: flex;
}

@media (width >= 744px) {
  .main {
    padding-inline: 72px;
  }
}

@media (width >= 1260px) {
  .main {
    padding-inline: 120px;
  }
}

@media (width >= 744px) {
  .main {
    padding-bottom: 102px;
  }
}

@media (width >= 1260px) {
  .main {
    padding-bottom: 164px;
  }
}

.move {
  flex-direction: column;
  gap: 32px;
  max-width: 1200px;
  padding-top: 60px;
  display: flex;
}

@media (width >= 744px) {
  .move {
    flex-direction: row;
    gap: 88px;
    padding-top: 120px;
  }
}

.move__title {
  text-align: left;
  letter-spacing: -1.5px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

@media (width >= 744px) {
  .move__title {
    flex-shrink: 0;
    font-size: 48px;
    line-height: 48px;
  }
}

@media (width >= 1260px) {
  .move__title {
    font-size: 64px;
    line-height: 64px;
  }
}

.move__text {
  font-size: 23px;
  font-weight: 500;
  line-height: 32.2px;
}

.compare-bikes {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
  display: flex;
}

@media (width >= 744px) {
  .compare-bikes {
    margin-top: 132px;
  }
}

@media (width >= 1260px) {
  .compare-bikes {
    margin-top: 164px;
  }
}

.compare-bikes__products {
  row-gap: 40px;
  padding-top: 48px;
  display: grid;
}

@media (width >= 744px) {
  .compare-bikes__products {
    padding-inline: 104px;
  }
}

@media (width >= 1260px) {
  .compare-bikes__products {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    max-width: 1200px;
    padding-top: 56px;
  }
}

.product__title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.product__text {
  margin: 0;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 22.4px;
}

.product__price {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.product__photo {
  object-fit: fill;
  width: 100%;
  padding-bottom: 32px;
  transition: all .5s;
}

.product__photo:hover {
  transition: all .5s;
  transform: scale(.9);
}

.details {
  margin-top: 92px;
}

.details__wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (width >= 744px) {
  .details {
    margin-top: 120px;
  }
}

@media (width >= 1260px) {
  .details {
    margin-top: 144px;
  }
}

.detail {
  width: 100%;
  max-width: 1200px;
  padding-top: 40px;
}

@media (width >= 744px) {
  .detail {
    padding-top: 48px;
  }
}

.detail__title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.detail__text {
  margin: 0;
  font-size: 16px;
  line-height: 22.4px;
}

.detail__images {
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  padding-bottom: 16px;
  display: grid;
}

@media (width >= 744px) {
  .detail__images {
    grid-template-columns: 4fr 2fr;
    gap: 24px;
  }

  .detail__images--shorter-img-first {
    grid-template-columns: 2fr 4fr;
  }
}

.detail__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.detail__image:hover {
  transition: all .5s;
  transform: scale(1.1);
  box-shadow: 1px 4px 16px #d2d9ab66;
}

@media (width >= 1260px) {
  .detail__image:hover {
    transform: scale(1.05);
  }
}

.detail__button-wrapper {
  justify-content: center;
  display: flex;
}

.detail__button {
  width: 100%;
}

@media (width >= 744px) {
  .detail__button {
    width: 60%;
  }
}

@media (width >= 1260px) {
  .detail__button {
    width: 30%;
  }
}

.button {
  color: #1d1d1d;
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  transition: all .3s;
  box-shadow: 1px 4px 16px #e8e8f066;
}

.button:active {
  box-shadow: 1px 4px 16px #e8e8f0a3;
}

.contact-us {
  width: 100%;
  max-width: 520px;
  margin-top: 80px;
}

.contact-us__form-info-wrapper {
  flex-direction: column;
  gap: 48px;
  padding-top: 48px;
  display: flex;
}

@media (width >= 744px) {
  .contact-us__form-wrapper {
    width: 288px;
  }
}

@media (width >= 1260px) {
  .contact-us__form-wrapper {
    width: 411px;
  }
}

.contact-us__info {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

@media (width >= 744px) {
  .contact-us {
    max-width: none;
    margin-top: 120px;
  }

  .contact-us__form-info-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

@media (width >= 1260px) {
  .contact-us {
    margin-top: 180px;
  }

  .contact-us__form-info-wrapper {
    gap: 198px;
  }
}

.info-block__title {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.info-block__text {
  color: #fff;
  margin: 0;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-decoration: none;
}

.info-block__text:hover {
  color: gray;
  transition: all .3s;
}

.form {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  display: flex;
}

.form__input {
  border-radius: 40px;
  max-height: 48px;
  padding-left: 16px;
  line-height: 48px;
}

.form__textarea {
  resize: none;
  border-radius: 16px;
  min-height: 148px;
  padding: 14px 16px;
}

.form__button {
  margin-top: 16px;
}

.form--style {
  box-sizing: border-box;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  transition: border .3s;
}

.form--style:hover {
  border: 1px solid #d5d7de;
}

.form--style:focus {
  border: 1px solid #292929;
  outline: none;
}

.footer {
  z-index: -1;
  width: 100%;
  height: 200px;
  display: flex;
  position: sticky;
  bottom: 0;
}

.footer__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 744px) {
  .footer {
    height: 480px;
  }
}

@media (width >= 1260px) {
  .footer {
    height: 555px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
